[submodule "gluon/packages/dal"]
	path = gluon/packages/dal
	url = https://github.com/web2py/pydal.git
[submodule "applications/itinerary"]
	path = applications/itinerary
	url = https://huangyu@bitbucket.org/huangyu/itinerary.git
